.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
}

.home {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.item {
  display: flex;
  margin-left: 2rem;
  font-size: 1rem;
  cursor: pointer;
}
